.ui.input>input {
  -webkit-tap-highlight-color: #60992D;
  border: 1px solid #8CAE68;
  width: 288px;
}

.ui.input.focus>input, .ui.input>input:focus {
  border-color: #60992D;
}

.ui.search {
  display: flex;
  justify-content: center;
}

.margin-bottom {
  margin-bottom: 40px;
}